* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 9.375rem;
    background-color: #000;
    color: #fff;
  }
  
  .menu {
    list-style: none;
    text-align: left;
  }
  
  
  .menu li {
    margin-bottom: 0.625rem;
    border-bottom: 0.0625rem solid #5C5C5C;
    padding: 0.75rem;
    color: #AAAAAA;
    font-weight: 400;
    margin : 0 ;

  }
  .menu li:hover {
    background-color: #5C5C5C;
  }
  .menu li:hover a {
    color: #FFFFFF;
  }
  
  .menu a {
    display: block;
    text-decoration: none;
    color: #AAAAAA;
    font-weight: 700;
  }
 
  
  .content {
    margin-left: 12.5rem;
    padding: 1.25rem 8.75rem 13.75rem 6.875rem;
    
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
  }
  .header img {
    height: 6.25rem;
  }
  
  .box {
    background-color: #eee;
    padding: 1.25rem;
    border: 0;
    margin-bottom: 2.5rem;
  }
  
  .box h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

  }

  .box p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 0 170px 20px 170px;
    text-indent: 20px;
  }

  .content__text {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }


  .footer {
    border-top : 1px solid #3E3E3E;
    text-align: left;
    padding-top:20px ;
    padding-bottom: 20px;
  }
  .footer span.footer__content {
    margin-left: 16%;
    
  }

  @media only screen and (max-width: 768px) {
    .sidebar {
      display: none;
    }
  
    .content {
      margin-left: 1.25rem;
      padding: 1.25rem;
    }
  }


  @media only screen and (max-width: 480px) {
    .header img {
      height: 3.125rem;
    }
  
    .box h1 {
      font-size: 1.25rem;
    }
  
    .box p {
      font-size: 1rem;
      padding: 0 1.25rem 1.25rem 1.25rem;
    }
  
    .content__text {
      flex-direction: column;
      gap: 1.25rem;
    }
  
    .footer span.footer__content {
      margin-left: 1.25rem;
    }
  }