.box__content img {
  width: 8rem;
  height: 8rem;
  float: left;
  shape-outside: rect();
  margin-right: 0.625rem;
}

.box__content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: left;
  margin-bottom: 1.25rem;
}

.box__content p {
  text-align: left;
}