

  .box__content img {
   
    width: 128px;
    height: 128px;
    float: left;
    shape-outside: rect(); 
    margin-right: 10px;
  }

  .box__content h1{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 20px;
  }
  .box__content p {
    text-align: left;
  }
